html, body, #root {
    height: 100%;
    margin: 0;
  }
  
.layout {
    min-height: 100vh;
}

.navbar img {
    max-width: 250px;
}

.text-orange {
    color: #d3a304;
}

.text-purple {
    color: #34516C;
}

.products-grid .product,
.offer {
    max-width: 30%!important;
}

.card {
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product i {
    font-size: 35px;
}

video {
    max-width: 1296px;
    aspect-ratio: 1.89!important;
}

iframe {
    max-width: 1296px;
    aspect-ratio: 1.77!important;
}

.card.product .card-text a {
    margin-top: -5px;
}

