html, body, #root {
    height: 100%;
    margin: 0;
}
  
.layout {
    min-height: 100vh;
}

.container-lg {
    max-width: 1140px!important;
}

footer img,
.navbar img {
    max-width: 250px;
    max-height: 85px;
}

.navbar button:focus {
    box-shadow: none!important;
}

.text-orange {
    color: #d3a304;
}

.text-purple {
    color: #34516C;
}

.card {
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product i {
    font-size: 35px;
}

.products-grid .product .card-text {
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

video {
    max-width: 1296px;
    aspect-ratio: 1.89!important;
}

iframe {
    max-width: 1296px;
    aspect-ratio: 1.77!important;
}

.card.product .card-text a {
    margin-top: -5px;
}

.card.product {
    height: 100%;
}

/* .card.product {
    max-width: 500px;
} */

tbody tr {
    height: 70px;
}

.rating-field {
    height: 0;
    border: 0;
    position: absolute;
}